node_modules
vendor
.env
.env.*
!.env.example
auth.json
.git
.gitignore
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/app/*
storage/*.key
bootstrap/cache/*.php
public/hot
public/storage
public/build
database/*.sqlite*
*.sql
tests
.codex
.agents
